<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASVV00yspfVvorzUZGvZ7lkMg-ASQXUTo</string>
	<key>GCM_SENDER_ID</key>
	<string>726249829127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGmaps</string>
	<key>PROJECT_ID</key>
	<string>just-sunrise-427601-p4</string>
	<key>STORAGE_BUCKET</key>
	<string>just-sunrise-427601-p4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726249829127:ios:12c037ccfaf485557e8ba2</string>
</dict>
</plist>